<h1>Manage All Trips</h1>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <% if @vehicle_trips.any? %>
        <h3>Number of Trips: <%= @vehicle_trips.count %></h3>
        <ol class="trips">
          <%= render @vehicle_trips %>
        </ol>
        <%= will_paginate @vehicle_trips %>
      <% end %>
    </div>
  </div>
</div>
