<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GRT.Now</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/Materialize/bin/materialize.css" />
    <link rel="stylesheet" href="bower_components/angucomplete-alt/angucomplete-alt.css" />
    <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="grtNowApp" ng-cloak>
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

    <nav class="teal lighten-1" role="navigation" ng-controller="NavbarCtrl">
      <div class="nav-wrapper">
        <div class="col s12">
          <a id="logo-container" href="#" class="brand-logo">GRT.Now</a>

          <ul class="right hide-on-med-and-down">

            <li ng-show="isAuthenticated()">
              Hello {{ user.name }}!
              <a ui-sref="favorite-routes">My favorite routes</a>
              <a ng-click="logout()">(Logout)</a>
            </li>

            <li ng-hide="isAuthenticated()">
              <a ui-sref="about">About</a>
              <a href="#" ng-click="authenticate('google')">Login / Register</a>
            </li>
          </ul>

          <ul id="nav-mobile" class="side-nav">
            <li><a href="#" ng-click="authenticate('google')">Login</a></li>
            <li><a href="#">About</a></li>
          </ul>
          
        </div>
      </div>
    </nav>

    <div class="row" ng-controller="MainCtrl" >
      <div class="col sidebar" ng-class="{'s3': sidebar.active, 'hide': !sidebar.active}">
        <div ui-view></div>
      </div>

      <div class="pos-rel maincontent" ng-class="{'col s9': sidebar.active}">
        <div ng-include="'views/main.html'"></div>
      </div>

      <div id="sidenav-overlay" ng-show="sidebar.active" class=""></div>

    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      // ga('create', 'UA-XXXXX-X');
      // ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/Materialize/bin/materialize.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-filter/dist/angular-filter.min.js"></script>
    <script src="bower_components/satellizer/satellizer.js"></script>
    <script src="bower_components/angucomplete-alt/angucomplete-alt.js"></script>
    <script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/services/api.js"></script>
    <script src="scripts/controllers/navbar.js"></script>
    <script src="scripts/controllers/window.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/trips.js"></script>
    <script src="scripts/controllers/stops.js"></script>
    <script src="scripts/controllers/favoriteroutes.js"></script>
    <script src="scripts/controllers/about.js"></script>
        <!-- endbuild -->
</body>
</html>
