<div class="row jumbotron center">
  <h1>Welcome to GRT.Now Admin Area</h1>
</div>

<div class="text-center alert alert-info">
	<strong><a href="http://manelpb.github.io/grt-now/" target="_blank">Click here to access the main site</a></strong>
</div>
