<div class="page-header">
  <h1>Listing User Favorite Routes</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Vehicle route</th>
      <th class="options"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_favorite_routes.each do |user_favorite_route| %>
      <tr>
        <td><%= user_favorite_route.vehicle_route.id %></td>
        <td>
          <%= link_to 'Destroy', user_favorite_route, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @user_favorite_routes, renderer: BootstrapPagination::Rails %>
