<h1>Manage All Vehicle Routes</h1>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <% if @vehicle_routes.any? %>
        <h3>Number of Vehicle Routes: <%= @vehicle_routes.count %></h3>
        <ol class="routes">
          <%= render @vehicle_routes %>
        </ol>
        <%= will_paginate @vehicle_routes %>
      <% end %>
    </div>
  </div>
</div>
