<p id="notice"><%= notice %></p>

<p>
  <strong>Long name:</strong>
  <%= @vehicle_route.long_name %>
</p>

<%= link_to 'Edit', edit_vehicle_route_path(@vehicle_route) %> |
<%= link_to 'Back', vehicle_routes_path %>
